# vim:ft=ansible:
---

user: ubuntu 
jupyter_pw: sha1:97ba05461e9d:a3ec24afd74e0402067975375014b9f727d84a6e
pub_keys: https://github.com/chapter09.keys
timezone: America/Toronto

hdfs_data_dir: /mnt/hadoop/data/
hdfs_name_dir: /mnt/hadoop/name/

hive_dir: /mnt/hive/
git_email: haowang@ece.utoronto.ca
git_name: "Hao Wang"

miniconda_home: '/mnt/miniconda'
miniconda_url: >
  http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh

miniconda_rcfile: '~/.zshrc'
